<footer>
  <div>
  Copyright &copy; 2020.<a href="<%- config.root%>"><%-config.title%></a><br>由 <a href="https://hexo.io" target="_blank">Hexo</a> 强行驱动 | 主题为 <a href="https://lx.js.org" target="_blank">Lx</a> | 使用 <a href="https://cloudflare.com/">Cloudflare</a> + <a href="https://coding.net/">Coding</a> 进行托管 <br> <br>本站禁止未经授权的转载 若想转载 请发邮件给<a href="mailto:186526@186526.club">186526@186526.club</a><%-theme.footer%>
  </div>
  <script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
    </script>    
</footer>